* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 0 auto;
    width: 800px;
}

h1 {
    margin: 1rem;
    font-size: 2em;
    color: rgb(23, 61, 189);
    text-align: center;
}

form {
    width: auto;
    margin: 2em;
    padding: 10px;
    border: 3px solid rgb(23, 61, 189);
    border-radius: 2em;
    background-color: rgba(233, 236, 252, 0.938);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 10px;
    margin: 1.5rem;
    border: 2px solid rgb(116, 137, 255);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color:rgb(23, 61, 189);
    font-size: 1.3rem;
}

input, select, textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding: 4px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    padding-right: 2em;
}

input[type="checkbox"] {
    width: 2em;
    height: 1em;
    vertical-align: bottom;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding: 2px;
    margin: 1em;
    background-color: rgb(250, 182, 136);
    color: rgb(18, 14, 238);
    border: none;
    border-radius: .5rem;
}

button:hover {
    background-color: aquamarine;
}

footer {
    text-align: center;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: auto;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}